* {
    margin: 0;
}


nav{
    
    padding: 20px;
    list-style: none;
    font-size: 13px;
    display: flex;
    font-style: italic;
    background-color: black;
    align-items: center;
    justify-content: space-evenly;
    position:static;
    
    
}

a{
    color: white; 
    margin-left: 25px;
    text-decoration: none; 
    
}
h1{
    font-size: 50px;
    text-align: center;
    width: 100%;
        font-family: "Chau Philomene One", sans-serif;
        font-weight: 400;
        font-style: italic;
    justify-content: center;

    color: rgba(255, 255, 255, 0.952);
    background-color: black;
    padding: 25px;
    box-shadow: 0px -17px 20px 0px rgba(206, 12, 12, 0.462);
}

.img{
    display: flex;
    -webkit-box-reflect: below 5px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));;
    
}
img {
    width: 33.3333%;

}
.h2{
     background-color: black;
     padding: 25px 50px;
}
H2{

    color: rgb(244, 244, 244);
    font-size: 22px;
    word-spacing: 10px;
        font-family: "Chau Philomene One", sans-serif;
        font-weight: 400;
        font-style: italic;

    text-shadow: -50px -50px 2px #9d8c8c30;
    
}
@media (min-width:600px) {
    nav{
        font-size: 28px;
    }
    h2{
        font-size: 80px;
    }

}
