* {
    margin: 0;
}
body{
    background-color: rgba(179, 197, 236, 0.24);
}
h1{
    font-size: 40px;
    display: flex;
    justify-content: center;
    color: rgba(255, 255, 255, 0.952);
    background-color: black;
    box-shadow: 0px -17px 20px 0px rgb(255, 2, 2);
}
.logo{
    
    height: 80px;
    width: 80px;
}

nav{
    
    padding: 20px;
    list-style: none;
    font-size: 20px;
    display: flex;
    justify-content: sflex;
    font-style: italic;
    background-color: black;
    
}
a{
  color: white; 
  margin-left: 25px;
  text-decoration: none; 
    
}
.img{
    display: flex;
    
}
img {
    width: 33.3333%;

}