body {
    font-family: Arial, sans-serif; 
    margin: 0;
}
nav{
    
    padding: 20px;
    list-style: none;
    font-size: 12px;
    display: flex;
    font-style: italic;
    background-color: black;
    align-items: center;
    justify-content: space-evenly;
    position:static;
}
a{
    color: white; 
    margin-left: 25px;
    text-decoration: none; 
    
}
section{
  color: #F8F3E6;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    font-size: 20px;
    padding: 25px 20px;
    background-color:#181415;
}
h2 {
    justify-content: center;
    font-size: 25px;
    color: rgb(142, 78, 78);
    text-shadow: 0px -1px 0px #f20303;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

blockquote {
    font-style: italic;
    color: #555;
    border-left: 4px solid #ccc;
    padding-left: 15px;
    margin-left: 0;
}

h1{
    margin: 0;
       font-size: 37px;
       display: flex;
           font-family: "Chau Philomene One", sans-serif;
           font-weight: 400;
           font-style: italic;
       justify-content: center;
       color: rgba(255, 255, 255, 0.952);
       background-color: black;
       padding: 0;
       box-shadow: 0px -12px 20px 0px rgba(246, 0, 0, 0.795);
   }
   
footer {
    font-size: 18px;
    text-align: center;
    padding: 30px;
    background-color: black;
    color: white;
}
