* {
    margin: 0;
}
body{
    background-color: rgb(45, 37, 7);
}
h1{
    padding-top: 15px;
    display: flex;
    justify-content: center;
    color: rgba(210, 186, 186, 0.806);
}

nav{
    list-style: none;
    
    color: rgb(161, 139, 139);
    margin-top: 40PX;
    display: flex;
    justify-content: space-evenly;
}