* {
    margin: 0;
}


nav{
    
    padding: 20px;
    list-style: none;
    font-size: 13px;
    display: flex;
    font-style: italic;
    background-color: black;
    align-items: center;
    justify-content: space-evenly;
    position:static;
    
    
}

a{
    color: white; 
    margin-left: 25px;
    text-decoration: none; 
    
}