
body{
    width: 100%;
   
   
}
h1{
    font-size: 40px;
    color: white;
    display: flex;
    justify-content: center;
    font-style:oblique;
    width: 100%;
    padding: 10px 0px;
    text-shadow: 1px 1px 2px red;
}
section{
    background-image: url(../pexels-photo-1044302.jpeg);
   background-size: cover;
   background-position: center;
   width: 100%;
   justify-content: center;
   
}
.a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    width: 100%;
}
form{
    
    color: white;
    background-color: transparent;
    backdrop-filter: blur(8px);
    padding: 40px;
    border-radius: 20px;
    margin-bottom: 30px;


}
form h2{
    font-size: 30px;
    text-align: center;
    color: white;
    margin-bottom: 20px;
}
form div{
    font-size: 25px;
    width: 100%;
    margin-bottom: 25px;
}
input{
    width: 100%;
    padding: 15px;
    border-radius: 20px;
    outline: none;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
}
input::placeholder{
    color: white;
}
.button{
    width: 100%;
    padding: 15px;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    border: 0;
    border: 2px solid transparent;
    transition: 0.5s;
    background-color: white;
    
   

}
.button:hover{
    text-decoration: underline;
    
}
.button p {
    color: white;
    font-size: 14px;
}
article h3{
    font-size: 35px;
    text-align: center;
    font-style: italic;
}
article p{
    text-align: center;
    font-size: 25px;
    font-style: italic;
    margin-top: 30px;
}
article{
    color: white;
    
    width: 80%;
    padding: 20px;
    
}
.divfooter {

    margin: 0;
    
    
}
