
body{
    width: 100%;
    

}
nav{
    width: 100%;
}
h1{
    width: 100%;
    text-align: center;
    font-style: italic;
    font-size: 30px;
    color: white;
    background-color: black;
    text-decoration: underline;
    text-decoration-color: rgb(215, 46, 46);
}
.foot{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.foot1{
    width: 70%;
    
}
.foot1 h2{
    font-size: 20px;
    margin-bottom: 3px;
}
.foot1 p{
    font-size: 10px;
    text-align: center;
}
.foot img {
    justify-content: flex-end;
    width: 30%;
}

.basketball {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
   
    
}
.basketball1{
    width: 70%;
}
.basketball1 h2{
    font-size: 20px;
    margin-bottom: 3px;
}
.basketball1 p{
    font-size: 10px;
    text-align: center;
}
.basketball img {
    width: 30%;
}
.Volleyball { 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;   
   
    
}
.volleyball1{
    
    width: 70%;
}
.volleyball1 h2{
    font-size: 20px;
    margin-bottom: 3px;
}
.volleyball1 p{
    font-size: 10px;
    text-align: center;
}
.Volleyball img {
    
    width: 30%;
}

@media (min-width:481px){
    h1{
        font-size: 45px;
    }
    .foot1 h2{
        font-size: 25px;
        margin-bottom: 5px;
    }
    .foot1 p{
        font-size: 15px;
    }
    .basketball1 h2{
        font-size: 25px;
        margin-bottom: 10px;
    }
    .basketball1 p{
        font-size: 15px;
    }
    .volleyball1 h2{
        font-size: 25px;
        margin-bottom: 10px;
    }
    .volleyball1 p{
        font-size: 15px;
    }

    
}

@media (max-width:769px){
   
    h1{
        font-size: 60px;
    }
    .foot1 h2{
        font-size: 40px;
        margin-bottom: 10px;
    }
    .foot1 p{
        font-size: 20px;
    }
    .basketball1 h2{
        font-size: 40px;
        margin-bottom: 10px;
    }
    .basketball1 p{
        font-size: 20px;
    }
    .volleyball1 h2{
        font-size: 40px;
        margin-bottom: 10px;
    }
    .volleyball1 p{
        font-size: 20px;
    }
   
}

@media (max-width:1080px){
    body{
        width: 100%;
    }
    nav{
        width: 100%;
    }
    h1{
        width: 100%;
        text-align: center;
        font-style: italic;
        font-size: 70px;
        color: white;
        background-color: black;
        text-decoration: underline;
        text-decoration-color: rgb(215, 46, 46);
    }
    .foot{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }
    .foot1{
        width: 70%;
        
    }
    .foot1 h2{
        font-size: 80px;
        margin-bottom: 100px;
    }
    .foot1 p{
        font-size: 40px;
        text-align: center;
    }
    .foot img {
        justify-content: flex-end;
        width: 30%;
    }
    
    .basketball {
        position: relative;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
       
        
    }
    .basketball1{
        width: 70%;
    }
    .basketball1 h2{
        font-size: 80px;
        margin-bottom: 100px;
    }
    .basketball1 p{
        font-size: 40px;
        text-align: center;
    }
    .basketball img {
        width: 30%;
    }
    .Volleyball { 
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;   
       
        
    }
    .volleyball1{
        
        width: 70%;
    }
    .volleyball1 h2{
        font-size: 80px;
        margin-bottom: 100px;
    }
    .volleyball1 p{
        font-size: 40px;
        text-align: center;
    }
    .Volleyball img {
        
        width: 30%;
    }
}